env/
venv/
virtualenv/
__pycache__/
.python-version
*~

assets/regression/datasets/*
!assets/regression/datasets/Covid3Month
!assets/regression/datasets/BitcoinSentiment

assets/classification/datasets/*
